body {
    background: #282828;
    overflow: hidden;
}

#shiggy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
    width: 129px;
    transition: width 0.1s ease;
    cursor: pointer;
}

#src-button {
    width: 50px;
    height: 50px;

    margin-right: 15px;
    margin-bottom: 15px;

    border-radius: 100%;
    font-size: 24px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.474));

    text-decoration: none;
    text-align: center;
    line-height: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d4bd9a;
    background: #202020;

    right: 0;
    bottom: 0;
    position: absolute;
}

#codeicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.explosion {
    position: absolute;
    width: 600px;
    height: 600px;
    pointer-events: none;
}

.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: pop 0.5s reverse cubic-bezier(.57,.05,.74,-0.09);
}

@keyframes pop {
    from {
        opacity: 0;
        width: 0px;
        height: 0px;
    }

    to {
        width: 10px;
        height: 10px;
        top: 50%;
        left: 50%;
        opacity: 1;
    }
}