body {
    background: #282828;
    overflow: hidden;
}

#shiggy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#src-button {
    width: 24px;
    height: 24px;

    margin-right: 10px;
    margin-bottom: 10px;

    border-radius: 100%;
    font-size: 24px;
    filter: drop-shadow(0px 0px 10px black);

    text-decoration: none;
    color: #d4bd9a;
    background: #202020;

    right: 0;
    bottom: 0;
    position: absolute;
}